<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starter.medicaldao.mapper.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.Doctor">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birth" jdbcType="INTEGER" property="birth" />
    <result column="hospital" jdbcType="VARCHAR" property="hospital" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="second_department" jdbcType="VARCHAR" property="secondDepartment" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, pwd, identity, name, sex, birth, hospital, department, second_department, 
    job_title, introduction, skill, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_doctor
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.starter.medicaldao.entity.Doctor">
    insert into t_doctor (id, phone, pwd, 
      identity, name, sex, 
      birth, hospital, department, 
      second_department, job_title, introduction, 
      skill, create_time, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birth,jdbcType=INTEGER}, #{hospital,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{secondDepartment,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{skill,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.Doctor">
    insert into t_doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="hospital != null">
        hospital,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="secondDepartment != null">
        second_department,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="skill != null">
        skill,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=INTEGER},
      </if>
      <if test="hospital != null">
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="secondDepartment != null">
        #{secondDepartment,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.Doctor">
    update t_doctor
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=INTEGER},
      </if>
      <if test="hospital != null">
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="secondDepartment != null">
        second_department = #{secondDepartment,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.Doctor">
    update t_doctor
    set phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth = #{birth,jdbcType=INTEGER},
      hospital = #{hospital,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      second_department = #{secondDepartment,jdbcType=VARCHAR},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_doctor
    where phone = #{phone}
  </select>

  <select id="selectByHospital" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_doctor
    where hospital = #{hospital}
  </select>

  <select id="selectByPhoneAndPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_doctor
    <where>
      phone = #{phone}
      and
      pwd = #{pwd}
    </where>
  </select>

  <select id="queryDoctors"  parameterType="com.starter.medicaldao.entity.Doctor" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_doctor
    <where>
      <if test="hospital != null">
        and hospital = #{hospital}
      </if>
      <if test="department != null">
        and department = #{department}
      </if>
      <if test="secondDepartment != null">
        and second_department = #{secondDepartment}
      </if>
    </where>
  </select>

  <select id="selectByFilter"  parameterType="com.starter.medicaldao.entity.filter.DoctorFilter" resultMap="BaseResultMap">
    select
    a.id as id , a.phone as phone, a.pwd as pwd, a.identity as identity, a.name as name,
    a.sex as sex, a.birth as birth, a.hospital as hospital, a.department as department, a.second_department as secondDepartment,
    a.job_title as jobTitle, a.introduction as introduction, a.skill as skill, a.create_time as createTime, a.modify_time as modifyTime
    from t_doctor as a left join t_hospital as b on a.hospital=b.id
    <where>
      <if test="filter.province != null">
        and b.province = #{filter.province}
      </if>
      <if test="filter.city != null">
        and b.city = #{filter.city}
      </if>
      <if test="filter.country != null">
        and b.country = #{filter.country}
      </if>
      <if test="filter.town != null">
        and b.town = #{filter.town}
      </if>
      <if test="filter.community != null">
        and b.community = #{filter.community}
      </if>
      <if test="filter.hospitalName != null">
        and b.name = #{filter.hospitalName}
      </if>
      <if test="filter.department != null">
        and a.department = #{filter.department}
      </if>
      <if test="filter.secondDepartment != null">
        and a.second_department = #{filter.secondDepartment}
      </if>
    </where>
    order by a.modify_time desc
    limit #{filter.offset}, #{filter.pageSize}
  </select>

  <select id="selectCountByFilter"  resultType="int">
    select
        COUNT(1)
    from t_doctor as a left join t_hospital as b on a.hospital=b.id
    <where>
      <if test="filter.province != null">
        and b.province = #{filter.province}
      </if>
      <if test="filter.city != null">
        and b.city = #{filter.city}
      </if>
      <if test="filter.country != null">
        and b.country = #{filter.country}
      </if>
      <if test="filter.town != null">
        and b.town = #{filter.town}
      </if>
      <if test="filter.community != null">
        and b.community = #{filter.community}
      </if>
      <if test="filter.hospitalName != null">
        and b.name = #{filter.hospitalName}
      </if>
      <if test="filter.department != null">
        and a.department = #{filter.department}
      </if>
      <if test="filter.secondDepartment != null">
        and a.second_department = #{filter.secondDepartment}
      </if>
    </where>
  </select>
</mapper>