<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starter.medicaldao.mapper.ElderMapper">
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.Elder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birth" jdbcType="INTEGER" property="birth" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="old_type" jdbcType="INTEGER" property="oldType" />
    <result column="marital_status" jdbcType="INTEGER" property="maritalStatus" />
    <result column="live_status" jdbcType="INTEGER" property="liveStatus" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
    <result column="emergency_contact" jdbcType="VARCHAR" property="emergencyContact" />
    <result column="emergency_phone" jdbcType="VARCHAR" property="emergencyPhone" />
    <result column="provide_state" jdbcType="INTEGER" property="provideState" />
    <result column="verify_state" jdbcType="INTEGER" property="verifyState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, pwd, identity, name, birth, sex, nation, image, old_type, marital_status, 
    live_status, address, province, city, country, town, community, agency_id,
    emergency_contact, emergency_phone, provide_state, verify_state, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_elder
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.starter.medicaldao.entity.Elder">
    insert into t_elder (id, phone, pwd, 
      identity, name, birth, 
      sex, nation, image, 
      old_type, marital_status, live_status, 
      address, province, city, 
      country, town, community, 
      agency_id, emergency_contact, emergency_phone,
      provide_state, verify_state, create_time, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{birth,jdbcType=INTEGER}, 
      #{sex,jdbcType=INTEGER}, #{nation,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{oldType,jdbcType=INTEGER}, #{maritalStatus,jdbcType=INTEGER}, #{liveStatus,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, #{community,jdbcType=VARCHAR}, 
      #{agencyId,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR}, #{emergencyPhone,jdbcType=VARCHAR},
      #{provideState,jdbcType=INTEGER}, #{verifyState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.Elder">
    insert into t_elder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="oldType != null">
        old_type,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="liveStatus != null">
        live_status,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="community != null">
        community,
      </if>
      <if test="agencyId != null">
        agency_id,
      </if>
      <if test="emergencyContact != null">
        emergency_contact,
      </if>
      <if test="emergencyPhone != null">
        emergency_phone,
      </if>
      <if test="provideState != null">
        provide_state,
      </if>
      <if test="verifyState != null">
        verify_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="oldType != null">
        #{oldType,jdbcType=INTEGER},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="liveStatus != null">
        #{liveStatus,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null">
        #{agencyId,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null">
        #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPhone != null">
        #{emergencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="provideState != null">
        #{provideState,jdbcType=INTEGER},
      </if>
      <if test="verifyState != null">
        #{verifyState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.Elder">
    update t_elder
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="oldType != null">
        old_type = #{oldType,jdbcType=INTEGER},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="liveStatus != null">
        live_status = #{liveStatus,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        community = #{community,jdbcType=VARCHAR},
      </if>
      <if test="agencyId != null">
        agency_id = #{agencyId,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null">
        emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPhone != null">
        emergency_phone = #{emergencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="provideState != null">
        provide_state = #{provideState,jdbcType=INTEGER},
      </if>
      <if test="verifyState != null">
        verify_state = #{verifyState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.Elder">
    update t_elder
    set phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      old_type = #{oldType,jdbcType=INTEGER},
      marital_status = #{maritalStatus,jdbcType=INTEGER},
      live_status = #{liveStatus,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      community = #{community,jdbcType=VARCHAR},
      agency_id = #{agencyId,jdbcType=VARCHAR},
      emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      emergency_phone = #{emergencyPhone,jdbcType=VARCHAR},
      provide_state = #{provideState,jdbcType=INTEGER},
      verify_state = #{verifyState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_elder
    where phone = #{phone}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
       delete from t_elder where id = #{id}
  </delete>

  <select id="selectByPhoneAndPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_elder
    <where>
      phone = #{phone}
      and
      pwd = #{pwd}
    </where>
  </select>

  <select id="selectByPhoneAndNameAndIdentity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_elder
    <where>
      phone = #{phone}
      and
      `name` = #{name}
      and
      `identity` = #{identity}
    </where>
  </select>

  <select id="countByOrganizationId" resultType="int">
    select count(1)
    from t_elder
    where agency_id = #{agencyId}
  </select>

  <select id="listElder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_elder
    <where>
      <if test="phone != null">
        AND (phone LIKE CONCAT('%', #{phone}, '%'))
      </if>
      <if test="name != null">
        AND (name LIKE CONCAT('%', #{name}, '%'))
      </if>
      <if test="provideState != null">
        and provide_state = #{provideState}
      </if>
      <if test="organizationId != null">
        and agency_id = #{organizationId}
      </if>
      <if test="birth != null">
        and `birth` = #{birth}
      </if>
      <if test="verifyState != null">
        and `verify_state` = #{verifyState}
      </if>
    </where>
    order by create_time desc
    limit #{offset}, #{pageSize}
  </select>

  <select id="listCountElder" resultType="int">
    select
    count(1)
    from t_elder
    <where>
      <if test="provideState != null">
        and provide_state = #{provideState}
      </if>
      <if test="organizationId != null">
        and agency_id = #{organizationId}
      </if>
      <if test="birth != null">
        and `birth` = #{birth}
      </if>
      <if test="verifyState != null">
        and `verify_state` = #{verifyState}
      </if>
    </where>
  </select>

  <!--<select id="readByFilter" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from t_elder
    <where>
      <if test="filter.provideState != null">
        and provide_state = #{filter.provideState}
      </if>
      <if test="filter.agencyId != null">
        and agency_id = #{filter.agencyId}
      </if>
      <if test="filter.birth != null">
        and birth = #{filter.birth}
      </if>
    </where>
    order by create_time desc
    limit #{fiter.offset}, #{filter.pageSize}
  </select>-->
</mapper>