<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starter.medicaldao.mapper.HealthDocumentMapper">
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.HealthDocument">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="basic_sign" jdbcType="VARCHAR" property="basicSign" />
    <result column="lifestyle" jdbcType="VARCHAR" property="lifestyle" />
    <result column="organ" jdbcType="VARCHAR" property="organ" />
    <result column="health_history" jdbcType="VARCHAR" property="healthHistory" />
    <result column="health_record" jdbcType="VARCHAR" property="healthRecord" />
    <result column="health_report" jdbcType="VARCHAR" property="healthReport" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, basic_sign, lifestyle, organ, health_history, health_record, health_report, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_health_document
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document (id, user_id, basic_sign, 
      lifestyle, organ, health_history, 
      health_record, health_report, create_time, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{basicSign,jdbcType=VARCHAR}, 
      #{lifestyle,jdbcType=VARCHAR}, #{organ,jdbcType=VARCHAR}, #{healthHistory,jdbcType=VARCHAR}, 
      #{healthRecord,jdbcType=VARCHAR}, #{healthReport,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="basicSign != null">
        basic_sign,
      </if>
      <if test="lifestyle != null">
        lifestyle,
      </if>
      <if test="organ != null">
        organ,
      </if>
      <if test="healthHistory != null">
        health_history,
      </if>
      <if test="healthRecord != null">
        health_record,
      </if>
      <if test="healthReport != null">
        health_report,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        basic_sign = #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        lifestyle = #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        organ = #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        health_history = #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        health_record = #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        health_report = #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    set user_id = #{userId,jdbcType=VARCHAR},
      basic_sign = #{basicSign,jdbcType=VARCHAR},
      lifestyle = #{lifestyle,jdbcType=VARCHAR},
      organ = #{organ,jdbcType=VARCHAR},
      health_history = #{healthHistory,jdbcType=VARCHAR},
      health_record = #{healthRecord,jdbcType=VARCHAR},
      health_report = #{healthReport,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.HealthDocument">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="basic_sign" jdbcType="VARCHAR" property="basicSign" />
    <result column="lifestyle" jdbcType="VARCHAR" property="lifestyle" />
    <result column="organ" jdbcType="VARCHAR" property="organ" />
    <result column="health_history" jdbcType="VARCHAR" property="healthHistory" />
    <result column="health_record" jdbcType="VARCHAR" property="healthRecord" />
    <result column="health_report" jdbcType="VARCHAR" property="healthReport" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, basic_sign, lifestyle, organ, health_history, health_record, health_report, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_health_document
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document (id, user_id, basic_sign, 
      lifestyle, organ, health_history, 
      health_record, health_report, create_time, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{basicSign,jdbcType=VARCHAR}, 
      #{lifestyle,jdbcType=VARCHAR}, #{organ,jdbcType=VARCHAR}, #{healthHistory,jdbcType=VARCHAR}, 
      #{healthRecord,jdbcType=VARCHAR}, #{healthReport,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="basicSign != null">
        basic_sign,
      </if>
      <if test="lifestyle != null">
        lifestyle,
      </if>
      <if test="organ != null">
        organ,
      </if>
      <if test="healthHistory != null">
        health_history,
      </if>
      <if test="healthRecord != null">
        health_record,
      </if>
      <if test="healthReport != null">
        health_report,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        basic_sign = #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        lifestyle = #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        organ = #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        health_history = #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        health_record = #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        health_report = #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    set user_id = #{userId,jdbcType=VARCHAR},
      basic_sign = #{basicSign,jdbcType=VARCHAR},
      lifestyle = #{lifestyle,jdbcType=VARCHAR},
      organ = #{organ,jdbcType=VARCHAR},
      health_history = #{healthHistory,jdbcType=VARCHAR},
      health_record = #{healthRecord,jdbcType=VARCHAR},
      health_report = #{healthReport,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.HealthDocument">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="basic_sign" jdbcType="VARCHAR" property="basicSign" />
    <result column="lifestyle" jdbcType="VARCHAR" property="lifestyle" />
    <result column="organ" jdbcType="VARCHAR" property="organ" />
    <result column="health_history" jdbcType="VARCHAR" property="healthHistory" />
    <result column="health_record" jdbcType="VARCHAR" property="healthRecord" />
    <result column="health_report" jdbcType="VARCHAR" property="healthReport" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, basic_sign, lifestyle, organ, health_history, health_record, health_report, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_health_document
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document (id, user_id, basic_sign, 
      lifestyle, organ, health_history, 
      health_record, health_report, create_time, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{basicSign,jdbcType=VARCHAR}, 
      #{lifestyle,jdbcType=VARCHAR}, #{organ,jdbcType=VARCHAR}, #{healthHistory,jdbcType=VARCHAR}, 
      #{healthRecord,jdbcType=VARCHAR}, #{healthReport,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    insert into t_health_document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="basicSign != null">
        basic_sign,
      </if>
      <if test="lifestyle != null">
        lifestyle,
      </if>
      <if test="organ != null">
        organ,
      </if>
      <if test="healthHistory != null">
        health_history,
      </if>
      <if test="healthRecord != null">
        health_record,
      </if>
      <if test="healthReport != null">
        health_report,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="basicSign != null">
        basic_sign = #{basicSign,jdbcType=VARCHAR},
      </if>
      <if test="lifestyle != null">
        lifestyle = #{lifestyle,jdbcType=VARCHAR},
      </if>
      <if test="organ != null">
        organ = #{organ,jdbcType=VARCHAR},
      </if>
      <if test="healthHistory != null">
        health_history = #{healthHistory,jdbcType=VARCHAR},
      </if>
      <if test="healthRecord != null">
        health_record = #{healthRecord,jdbcType=VARCHAR},
      </if>
      <if test="healthReport != null">
        health_report = #{healthReport,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.HealthDocument">
    update t_health_document
    set user_id = #{userId,jdbcType=VARCHAR},
      basic_sign = #{basicSign,jdbcType=VARCHAR},
      lifestyle = #{lifestyle,jdbcType=VARCHAR},
      organ = #{organ,jdbcType=VARCHAR},
      health_history = #{healthHistory,jdbcType=VARCHAR},
      health_record = #{healthRecord,jdbcType=VARCHAR},
      health_report = #{healthReport,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>