<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starter.medicaldao.mapper.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.starter.medicaldao.entity.Manager">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birth" jdbcType="INTEGER" property="birth" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, pwd, identity, name, birth, sex, image, province, city, country, town,community,address,create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByFilter" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_manager
    order by create_time desc
    limit #{offset}, #{pageSize}
  </select>

  <insert id="insert" parameterType="com.starter.medicaldao.entity.Manager">
    insert into t_manager (id, phone, pwd, 
      identity, name, birth, 
      sex, image, create_time, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{birth,jdbcType=INTEGER}, 
      #{sex,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.starter.medicaldao.entity.Manager">
    insert into t_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="community != null">
        community,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starter.medicaldao.entity.Manager">
    update t_manager
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starter.medicaldao.entity.Manager">
    update t_manager
    set phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
          city = #{city,jdbcType=VARCHAR},
            country = #{country,jdbcType=VARCHAR},
              town = #{town,jdbcType=VARCHAR},
                community = #{community,jdbcType=VARCHAR},
                  address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_manager
    where phone = #{phone}
  </select>

  <select id="selectByPhoneAndPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_manager
    <where>
      phone = #{phone}
      and
      pwd = #{pwd}
    </where>
  </select>
</mapper>